nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

.home {
    text-align: center;
}

.connections {
    margin-bottom: 40px;
}

.connections td {
    padding: 10px;
}

.connections td:first-child {
    /*font-weight: bold;*/
    text-align: right;
    font-size: 20px;
}

.resume h2 {
    text-align: center;
    margin-bottom: 50px;
}

.user {
    text-align: center;
}

.user .item {
    display: inline-block;
    margin-right: 10px;
}

.user img {
    width: 200px;
    border-radius: 50%;
}

.username {
    font-size: 2.5rem;
    color: #777;
}