{%extends 'base.html' %}
{%block content %}
    <div class="home">
        <h2>Connect to third-parties before generating resume</h2>

        <table class="connections" align="center">
            <tr>
                <td>WakaTime</td>
                <td>:</td>
                <td>
                    {% if connected_wakatime %}
                        <a class="btn btn-secondary disabled" role="button">✔ Done</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ url_for('wakatime_oauth_start') }}" role="button">Connect</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>StackExchange</td>
                <td>:</td>
                <td>
                    {% if connected_stackexchange %}
                        <a class="btn btn-secondary disabled" role="button">✔ Done</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ url_for('start_stackexchange') }}" role="button">Connect</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Github</td>
                <td>:</td>
                <td>
                    {% if connected_github %}
                        <a class="btn btn-secondary disabled" role="button">✔ Done</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ url_for('start_github') }}" role="button">Connect</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        <a class="btn btn-lg btn-success" href="{{ url_for('resume') }}" role="button">Generate resume</a>
    </div>

{%endblock%}