{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="resume col-md-9">
            <h2>{ hacker resume }</h2>

            <div class="user">
                <img src="https://avatars2.githubusercontent.com/u/4247916?v=3&s=460" alt="User photo" class="circle">
                <div class="username">@{{ wakatime['data']['username'] }}</div>
                <div class="info">
                    <span class="item">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Bratislava, Slovakia
                    </span>
                    <span class="item">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        fadawar@gmail.com
                    </span>
                    <span class="item">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <a href="https://github.com/fadawar">https://github.com/fadawar</a>
                    </span>
                </div>
            </div>

            {% if wakatime %}
            <div class="wakatime-stats">
                <div>
                    <b>Editor of choice: </b>

                    <span class="badge badge-primary">
                    {{ wakatime['data']['editors'][0]['name'] }}
                </span>
                </div>
                <div>
                    <b>Total time programming: </b>

                    <span class="badge badge-primary">
                    {{ wakatime['data']['human_readable_total'] }}
                </span>
                </div>
                <div>
                    <b>Favorite OS: </b>

                    <span class="badge badge-primary">
                    {{ wakatime['data']['operating_systems'][0]['name'] }}
                </span>
                </div>

            </div>
            {% endif %}

            <div id="reputation" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div id="languages" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

            <script>
                var reputation =  JSON.parse('{{ stackoverflow['reputation'] | tojson }}');
                reputation_data = [];
                for(var i=0; i < reputation.length; i++){
                    reputation_data.push([new Date(reputation[i]['on_date'])*1000, reputation[i]['reputation_change']]);
                }

                var languages = JSON.parse('{{ wakatime['data']['languages'] | tojson }}');
                languages_data = [];
                for(var i=0; i < languages.length; i++){
                    languages_data.push({name: languages[i]['name'], y: languages[i]['total_seconds']})
                }
                console.log(languages);
                console.log(languages_data);

                Highcharts.chart('reputation', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Stackoverflow reputation'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { 
                        month: '%b \'%y',
                        year: '%Y'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Reputation points'
                    }
                },
                tooltip: {
                    pointFormat: '{point.y: .0f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Reputation',
                    data: reputation_data
                }]
            });

                Highcharts.chart('languages', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Technologies'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: languages_data
                }]
            });
            </script>


            <div class="tags">
                <div>
                    <b>StackOverflow tags</b>
                </div>
                {% for tag in stackoverflow['tags'] %}
                    <span class="se-tag">
                        <a href="#" class="name">{{ tag['tag_name'] }}</a>
                        <span class="badge badge-default answers" title="# of comments">
                            [<i class="fa fa-comments" aria-hidden="true"></i> {{ tag['answer_count']}}]
                        </span>
                        <span class="badge badge-default reputation" title="# of reputation gain">
                            [<i class="fa fa-certificate" aria-hidden="true"></i> {{ tag['answer_score'] }}]
                        </span>
                    </span>
                {% endfor %}
            </div>


            <div class="languages">
                <h3>Expertise</h3>
                {% for language in wakatime['data']['languages'][:5] %}
                    <div class="lang">
                        <h4>
                            {{ language['name'] }}
                            <span class="badge badge-warning" title="Total time spend programming in this language">
                                {{ wakatime['data']['languages'][loop.index]['text'] }}
                            </span>
                        </h4>

                        <div class="repos">
                            <div class="repo">
                                <h5>Repo name</h5>
                                <span class="item">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    12 commits
                                </span>
                                <span class="item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    9 stars
                                </span>
                                <span class="item">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <span class="link">https://github.com/fadawar</span>
                                </span>
                            </div>
                            <div class="repo">
                                <h5>Repo name</h5>
                                <span class="item">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    12 commits
                                </span>
                                <span class="item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    9 stars
                                </span>
                                <span class="item">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <span class="link">https://github.com/fadawar</span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}