{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="resume col-md-10">
            <h2>{ hacker resume }</h2>

            <div class="user">
                <img src="https://avatars2.githubusercontent.com/u/4247916?v=3&s=460" alt="User photo" class="circle">
                <div class="username">@{{ wakatime['data']['username'] }}</div>
                <div class="info">
                    <span class="item">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Bratislava, Slovakia
                    </span>
                    <span class="item">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        fadawar@gmail.com
                    </span>
                    <span class="item">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <a href="https://github.com/fadawar">https://github.com/fadawar</a>
                    </span>
                </div>
            </div>



            {% if wakatime %}
                <div>
                    <h3>Wakatime (last year)</h3>
                    <div>
                        <b>Most used languages: </b>

                        <span class="badge badge-primary">
                        {{ wakatime['data']['languages'][0]['name'] }}
                        [{{ wakatime['data']['languages'][0]['text'] }}]
                    </span>
                        <span class="badge badge-success">
                        {{ wakatime['data']['languages'][1]['name'] }}
                        [{{ wakatime['data']['languages'][1]['text'] }}]
                    </span>
                    </div>
                    <div>
                        <b>Editor of choice: </b>

                        <span class="badge badge-primary">
                        {{ wakatime['data']['editors'][0]['name'] }}
                    </span>
                    </div>
                    <div>
                        <b>Total time programming: </b>

                        <span class="badge badge-primary">
                        {{ wakatime['data']['human_readable_total'] }}
                    </span>
                    </div>

                </div>
            {% endif %}

            <div class="languages">
                {% for language in wakatime['data']['languages'][:5] %}
                    <h3>{{ language['name'] }}</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}